.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focusring-color;
}

.title {
  font-family: 'Marck Script', cursive;
}

.jb-bg {
  background-color: #007c85;
  background-image: url("images/45-degree-fabric-light.png");
}

.jb-text {
  font-family: 'Quicksand', sans-serif;
  font-color: #666666 !important;
}

.grid-sizer {
  width: 33.333%;
}

.grid-item {
  margin-bottom: 10px;
}

.grid-img {
  width: 100%;
  border-left: 10px solid white;
}
@media screen and (max-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer {
    width: 100%;
  }
}