.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focusring-color;
}

.title {
  font-family: 'Marck Script', cursive;
}

.jb-bg {
  background-color: #007c85;
  background-image: url("images/45-degree-fabric-light.png");
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-color: #666666 !important;
}

.grid-item {
  border: 4px solid white;
  margin-bottom: 10px;
}

.grid-img {
  width: 100%;
  /* border-left: 10px solid white; */
}
/* @media screen and (max-width: 768px) {
  .grid-sizer {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .grid-sizer {
    width: 100%;
  }
} */